body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.restart {
  color: blue;
  text-decoration: underline;
  margin: 1%;
  cursor: pointer;
}
.slick-arrow {
  margin: 2%;
}
.slick-slider {
  height: 300px;
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
  text-align: center;
}
#login-input-neutral {
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 1%;
}
#login-input-danger{
  height: 34px;
  border: 1px solid #9F0000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 1%;
  background-color: rgba(240, 186, 186, 0.308);
}