body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .card-container {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  .form-check-input {
    margin: 0.5rem 1.25rem 0rem 0rem;
  }
  footer {
    float: right;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .form-control {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #form-options{
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50%;
    background: #eff5f5;
    color: grey;
  }
  #questions-container {
    width: 500px;
  }
  .quiz-selector-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }